@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Rich's Rack</h1>
    <p>We sell simple snacks to keep that edge off before dinner</p>
</div>

<div>
    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Order</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model.Snacks)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td><button type="submit" class="btn btn-success" asp-page="./Index" asp-route-id="@item.Id">Order</button></td>
                    </tr>

                }
            </tbody>

        </table>
    </form>
</div>