@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post">
        <button type="submit" class="btn btn-primary">Generate Number</button>
    </form>
    <a id="generatedSequenceNumberIdLink" href="#" data-toggle="tooltip" data-placement="left" title="Click To Copy"><div>Your Number is : @Model._GeneratedNumber</div></a>
    <div id="generatedSequenceNumberId" hidden>@Model._GeneratedNumber</div>
</div>