@page
@model IndexModel
@using BarberShop.Extensions;
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <table class="table table-borded">
        <thead class="thead-dark">
            <tr>
                <th>Service</th>
                <th>Price</th>
            </tr>
        </thead>
        @if (Model.Menu is not null && Model.Menu.Any())
        {
            foreach (var item in Model.Menu)
            {
                <tbody>
                    <tr>
                        <td>@item.Key</td>
                        <td>@item.Value.AsCurrency('$')</td>
                    </tr>
                </tbody>
            }
        }

    </table>
</div>